target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IntelliJ output ###
out/

### Build artifacts ###
*.pkg
*.jar
*.dmg

### Secrets / cookies ###
cookies.txt
**/cookies.txt

### Stray output that previously got created from misresolved relative paths ###
/Users/

### App-local state (uncomment if you don't want personal paths committed) ###
# src/main/java/com/example/ytdlp/data.json
# src/main/resources/com/example/ytdlp/data.json
